<!DOCTYPE html>
<html>
  <head>
    <title>BBQApanel</title>
    <head>
       <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    </head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/chosen.css" rel="stylesheet">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
     <script src="/static/js/chosen.jquery.min.js"></script>
    <script src="/static/js/main.js"></script>

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">BBQApanel</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">BBQApanel</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/index">Dashboard</a></li>
            {% if is_auth.is_authenticated != False%}
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">

          {% if is_auth.is_authenticated == False%}
        <div class="col-sm-3 col-md-2 sidebar " hidden="False">
          <div class="panel panel-default">
            <div class="panel-body">
            <form action="/auth" method="post" name="auth">
              <div class="form-group">
                  <label for="login">Login:</label>
                <input class="form-control" id="login" name="login" placeholder="Enter Login">
            </div>
              <div class="form-group">
                  <label for="password">Password:</label>
                <input class="form-control" type="password"name="password"  placeholder="Enter Password..." id="password">
            </div>
                <input type="submit" class="btn btn-success" value="Log In">
            </form>
            </div>
          </div>
        </div>
          {% else %}
        <div class="col-sm-2 col-md-1 sidebar" hidden="False">
          <ul class="nav nav-sidebar" id="main_menu">
            {% if is_auth.is_admin == True%}
            <li data-toggle="collapse" data-target="#admin" ><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Administration </a></li>
            <ul class="collapse" id="admin">
              <li class="active"><a href="/servers">Servers</a></li>
              <li><a href="/server_types">Server Types</a></li>
              <li><a href="/server_rent">Server Rent</a></li>
            </ul>
            <li><a href="/users"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users</a></li>
            <li><a href="/memcashed"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span> Memcashed</a></li>
            {% endif %}
            <li><a href="/database"><span class="glyphicon glyphicon-cd" aria-hidden="true"></span> Database</a></li>
            <li><a href="/site"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Marathon</a></li>
          </ul>
        </div>
          {% endif %}

{% if is_auth.is_authenticated == False%}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% else %}
        <div class="col-sm-12 col-sm-offset-3 col-md-11 col-md-offset-1 main">
        {% endif %}

      {% for category,message in get_flashed_messages(with_categories=true) %}
         <div id = "alerts" class="alert alert-{{category}}">
        {{ message }}
        </div>
      {% endfor %}
      {% block content %}{% endblock %}
    </div>

      </div>

      </div>
  </body>
</html>