<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<script src="/static/js/dashboard.js"></script>
<h1>DASHBOARD: QA SERVERS</h1>
<hr>
<div id="dashboard_qa"></div>
<div id="progress" style="display:True">
    <span>Update info about QA....</span>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
        <span class="sr-only">55% Complete</span>
      </div>
    </div>
</div>
{% endblock %}