<!DOCTYPE html>
{% extends "index.html" %}
{% block databaseinfo %}

{% if success == False %}
    <div class="panel panel-danger">
        <div class="panel-heading">
         <h2>Not Found Databases on this host</h2>
        </div>
      <div class="panel-body">
        Not found Databases on this host or host unavalible now. Please, try again later or alarm your admin to fix this problem
      </div>
    </div>
{% else %}
<h2>MONITORING DB ON  <strong>{{host}}</strong></h2>
<hr>
<div class="panel panel-warning ">
    <div class="panel-heading" > PG_STAT_ACTIVITY</div>
    <div class="panel-body" >
        <table class="table table-bordered">
          <tr>
            <th>Username</th>
            <th>Client IP</th>
            <th>Blocker Status</th>
              <th>Process Status</th>
              <th>Query</th>
          </tr>
        {% for st in statics %}
          <tr>
            <td>{{st.usename}}</td>
            <td>{{st.client_addr}}</td>
            <td>{{st.waiting}}</td>
            <td>{{st.state}}</td>
            <td>{{st.query}}</td>
          </tr><tr>
        {% endfor %}
        </table>
    </div>
</div>
<h2>INFO ABOUT DATABASE SERVER <strong>{{host}}</strong></h2>
<hr>
<div role="tabpanel" class="tab-pane active container-fluid" id="home">
    <div class="row">
        <div class="col-md-6"><div class="panel panel-primary ">
            <div class="panel-heading" > List Of Databases</div>
            <div class="panel-body">
                <table class="table table-bordered">
                  <tr>
                    <th>DB Name</th>
                    <th>DB Version</th>
                    <th>Last Update</th>
                  </tr>
                {% for db in dbvs %}
                  <tr>
                    <td><a href ="{{db.url}}"> <h5>{{db.dbname}}</h5></td>
                    <td>{{db.version}}</td>
                    <td>{{db.last_update}}</td>
                  </tr><tr>
                {% endfor %}
                </table>
            </div>
        </div></div>

        <div class="col-md-6"><div class="panel panel-primary">
            <div class="panel-heading" > DB USERS</div>
            <div class="panel-body">
                {% for usr in usrs %}
                    {{usr.username}}<br>
                {% endfor %}
            </div>
        </div></div>
    </div>
</div>
{% endif %}
{% endblock %}