<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<script src="/static/js/apps.js"></script>

<form action="/database/search" method="post">
    <button type='submit'  class="btn btn-link" name='back'><h4><<< Back To Databases</h4></button>
    <input type="hidden" name="host" value="{{host}}">
</form>

<h2>DATABASE <strong>{{db_name}}</strong> ON <strong>{{host}}</strong></h2>
<hr>
<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#tbls" ><span id="env_ico" class="pull-right glyphicon glyphicon-plus"></span> Tables</div>
  <div class="panel-body collapse" id="tbls">
       <table class="table table-bordered">
          <tr>
            <th>SCHEMA</th>
            <th>TABLE</th>
              <th>COLUMNS</th>
          </tr>
        {% for tbsc in tbs %}
          <tr>
            <td rowspan="{{tbsc.count}}">{{tbsc.schema}}</td>
              {% for tb in tbsc.tables %}
                <td rowspan="{{tb.columns|length}}">{{tb.table}}</td>
                {% for col_var in tb.columns %}
                    <td>{{col_var}}</td>
                    </tr><tr>
                {% endfor %}
              {% endfor %}

        {% endfor %}
        </table>
  </div>
</div>

  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#etps" ><span id="env_ico" class="pull-right glyphicon glyphicon-plus"></span> Enum Types</div>
  <div class="panel-body collapse" id="etps">
      <table class="table table-bordered">
          <tr>
            <th>TYPE NAME</th>
            <th>VALUES</th>
          </tr>
          {% for etype in etypes %}
              <td>{{etype.name}}</td>
              <td>{{etype.val}}</td>
              </tr><tr>
          {% endfor %}
      </table>
  </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#fcts" ><span id="env_ico" class="pull-right glyphicon glyphicon-plus"></span> Procedures And Functions</div>
  <div class="panel-body collapse" id="fcts">
  </div>
  </div>


{% endblock %}