<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<h1>DATABASES IN ONLINE QA INFRASTRUCTURE</h1>
   <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Search info about DataBase</h4>
        </div>
        <div class="modal-body">
        <form action="/database/search" method="post" name="show">
            <div class="form-group">
                  <label for="host">Host:</label>
                {{form.host(size=1,class_="form-control chosen-select")}}
            </div>
            <p><input type="submit" class="btn btn-success" value="Show"></p>
        </form>
        </div>
    </div>

{% block databaseinfo %}{% endblock %}
{% endblock %}



