<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<h1>MEMCASHED CLIENT FOR QA</h1>
   <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Select your Memcashed Server...</h4>
        </div>
        <div class="modal-body">
        <form action="/memcashed/connect" method="post" name="show">
            <div class="form-group">
                  <label for="host">Host:</label>
                {{form.host(size=1,class_="form-control chosen-select")}}
            </div>
            <p><input type="submit" class="btn btn-success" value="Connect"></p>
        </form>
        </div>
    </div>

{% block siteinfo %}{% endblock %}
{% endblock %}