<!DOCTYPE html>
{% extends "memcashed.html" %}
{% block siteinfo %}
<script src="/static/js/memcashed.js"></script>

<hr>
{% if success == True %}
<div class="panel panel-success">
    <div class="panel-heading"> Memcashed client connected to host <p id="host">{{host}}</p> </div>
    <div class="panel-body" id="bb">
        <h3>Select Key from Memcashed to see data info</h3>
	<select id="m_keys" data-placeholder="Choose a Key..." class="chosen-select" style="width:350px;" tabindex="4">
        {% for key in mem_keys %}
        <option>{{key}}</option>
    {% endfor %}
　　　</select>
        <hr>
        <textarea class = "form-control" name="value_area"  id = "value_area" rows = "10" style="font-size: 14pt; font-family: courier new; padding: 8px; border: 1px solid #000; background-color: #000;color: #00ff00;"></textarea>
        <hr>
        <div class="btn-group">
            <button type="button" id="mem_save" class="btn btn-success" >Save Value</button>
            <button type="button" id="mem_del" class="btn btn-warning" >Delete Key</button>
            <button type="button" id="mem_flush" class="btn btn-danger" >Flush ALL</button>

        </div>
        <hr>
        <h3>Create new key with value</h3>
        <form action="/memcashed/create" method="post" name="save">
            <div class="form-group" hidden="True">
              <label for="host">Host:</label>
              <input class="form-control"  name="host" value="{{host}}">
          </div>
            <div class="form-group" >
              <label for="mm_key">Key:</label>
              <input class="form-control"  name="mm_key" value="">
          </div>
            <div class="form-group" >
              <label for="mm_value">Value:</label>
                <textarea class="form-control"  name="mm_value" value=""></textarea>
          </div>
            <p><input type="submit" class="btn btn-success" value="Create"></p>
        </form>
    </div>
</div>
{% else %}
<div class="panel panel-danger">
    <div class="panel-heading"> Memcashed client not connected to host {{host}} </div>
    <div class="panel-body">
        Please, check you Memcashed Server, may be port another then 11211, ors server is not RUNNING.
    </div>
</div>
{% endif %}
{% endblock %}