<!DOCTYPE html>
  <head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </head>
{% for tp in types %}
<h2>{{tp}}</h2>
<div class="row placeholders">
    <div class="row">
    {% for server in servers |sort(attribute='info.host') %}
        {% if server.info.type in tp %}

                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-{{server.info.status}}">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                        {% if server.used == 'FREE'%}
                                       <a href="#" style="color:#FFF; text-decoration:none" title="Rent By Me"> <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></a>
                                        {% endif %}
                                        <a href="http://{{server.info.host}}" style="color:#FFF; text-decoration:none">{{server.info.host}}</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="pull-left"><strong>SERVER BLOCK BY:</strong> {{ server.used }} </span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-footer">
                            <span class="pull-left"><strong>CHECK SITE LOADING</strong> <span class="glyphicon glyphicon-{{server.info.site_status}}" aria-hidden="true"></span> </span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-footer">
                            <span class="pull-left"><strong>DB Game Version:</strong> {{server.info.db_version.info}} <span class="glyphicon glyphicon-{{server.info.db_version.ico}}" aria-hidden="true"></span> </span>
                            <div class="clearfix"></div>
                            <span class="pull-left"><strong>Last Deploy Number:</strong> <a href="{{server.info.db_deploy.info.build_url}}" style="color:#000000">{{server.info.db_deploy.info.build_id}}</a> <span class="glyphicon glyphicon-{{server.info.db_deploy.status}}" aria-hidden="true"></span> </span>
                            <div class="clearfix"></div>
                            <span class="pull-left"><strong>Last Deploy By:</strong> {{server.info.db_deploy.info.build_user}} <span class="glyphicon glyphicon-{{server.info.db_deploy.status}}" aria-hidden="true"></span> </span>
                            <div class="clearfix"></div>
                            <span class="pull-left"><strong>Last Deploy Status:</strong> {{server.info.db_deploy.info.build_result}} <span class="glyphicon glyphicon-{{server.info.db_deploy.status}}" aria-hidden="true"></span> </span>
                            <div class="clearfix"></div>
                            <span class="pull-left"><strong>Last Deploy Time:</strong> {{server.info.db_deploy.info.finishDate}} <span class="glyphicon glyphicon-{{server.info.db_deploy.status}}" aria-hidden="true"></span> </span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-footer">
                            <span class="pull-left"><strong>Site Version:</strong> {{server.info.site_version.info}} <span class="glyphicon glyphicon-{{server.info.site_version.ico}}" aria-hidden="true"></span></span>
                            <div class="clearfix"></div>
                            <span class="pull-left"><strong>Last Deploy Number:</strong> <a href="{{server.info.site_deploy.info.build_url}}" style="color:#000000">{{server.info.site_deploy.info.build_id}}</a> <span class="glyphicon glyphicon-{{server.info.site_deploy.status}}" aria-hidden="true"></span> </span>
                            <div class="clearfix"></div>
                            <span class="pull-left"><strong>Last Deploy By:</strong> {{server.info.site_deploy.info.build_user}} <span class="glyphicon glyphicon-{{server.info.site_deploy.status}}" aria-hidden="true"></span> </span>
                            <div class="clearfix"></div>
                            <span class="pull-left"><strong>Last Deploy Status:</strong> {{server.info.site_deploy.info.build_result}} <span class="glyphicon glyphicon-{{server.info.site_deploy.status}}" aria-hidden="true"></span> </span>
                            <div class="clearfix"></div>
                            <span class="pull-left"><strong>Last Deploy Time:</strong> {{server.info.site_deploy.info.finishDate}} <span class="glyphicon glyphicon-{{server.info.site_deploy.status}}" aria-hidden="true"></span> </span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

        {% endif %}
    {% endfor %}
    </div>
</div>
{% endfor %}