<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<h1>SERVER TYPES IN ONLINE QA INFRASTRUCTURE</h1>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Create New Server Type</h4>
        </div>
        <div class="modal-body">
        <form action="/server_types/create" method="post" name="create">
            <div class="form-group">
                  <label for="server_type">Server Type:</label>
                {{form.server_type(size=20,class_="form-control")}}
            </div>
            <div class="form-group">
                  <label for="description">Description:</label>
                {{form.description(size=120,class_="form-control")}}
            </div>
            <div class="form-group">
                  <label for="db_build_type">DB Build Type:</label>
                {{form.db_build_type(size=120,class_="form-control")}}
            </div>
            <div class="form-group">
                  <label for="server_build_type">Server Build Type:</label>
                {{form.server_build_type(size=120,class_="form-control")}}
            </div>
            <p><input type="submit" class="btn btn-success" value="Create"></p>
        </form>
        </div>
    </div>
<h2>Already exists server types in system</h2>
<table class="table table-bordered">
  <tr>
    <th>Server Type</th>
    <th>Description</th>
      <th>DB Build Type</th>
      <th>Server Build Type</th>
    <th>Options</th>
  </tr>
{% for server_type in server_types %}
  <tr>
      <td><a href ="/server_types/update?server_type={{server_type.server_type}}">{{server_type.server_type}}</a></td>
    <td>{{server_type.description}}</td>
      <td>{{server_type.db_build_type}}</td>
      <td>{{server_type.server_build_type}}</td>
      <td><a title="Delete Server Type" href ="/server_types/delete?server_type={{server_type.server_type}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
  </tr><tr>

{% endfor %}
</table>
{% endblock %}