<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<h1> SERVER TYPES IN ONLINE QA INFRASTRUCTURE</h1>

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Update Server Type <strong>{{server_type.server_type}}</strong></h4>
        </div>
        <div class="modal-body">
        <form action="/server_types/save" method="post" name="save">
                {{form.server_type(size=120,class="form-control", type="hidden",value=server_type.server_type)}}
            <div class="form-group">
                  <label for="description">Description:</label>
                {{form.description(size=120,class_="form-control",value=server_type.description)}}
            </div>
            <div class="form-group">
                  <label for="db_build_type">DB Build Type:</label>
                {{form.db_build_type(size=120,class_="form-control",value=server_type.db_build_type)}}
            </div>
            <div class="form-group">
                  <label for="server_build_type">Server Build Type:</label>
                {{form.server_build_type(size=120,class_="form-control",value=server_type.server_build_type)}}
            </div>
            <p><input type="submit" class="btn btn-success" value="Save"></p>
        </form>
            <p><input type="submit" class="btn btn-warning" onclick="location.href='/server_types';" value="Cancel"></p>
        </div>
    </div>
{% endblock %}