<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<h1>QA SERVERS RENTS</h1>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Create New Rent</h4>
        </div>
        <div class="modal-body">
        <form action="/server_rent/create" method="post" name="create">
            <div class="form-group">
                  <label for="server_host">Server Type:</label>
                {{form.server_host(size=1,class_="form-control")}}
            </div>
            <div class="form-group">
                  <label for="user_login">Description:</label>
                {{form.user_login(size=1,class_="form-control")}}
            </div>
            <p><input type="submit" class="btn btn-success" value="Create"></p>
        </form>
        </div>
    </div>
<h2>Already exists servers rent</h2>
<table class="table table-bordered">
  <tr>
    <th>User</th>
    <th>QA Server</th>
    <th>Options</th>
  </tr>
{% for rent in server_users %}
  <tr>
      <td>{{rent.user_login}}</td>
    <td>{{rent.server_host}}</td>
      <td><a title="Delete Rent" href ="/server_rent/delete?server_host={{rent.server_host}}&user_login={{rent.user_login}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
  </tr><tr>

{% endfor %}
</table>
{% endblock %}