<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<h1>SERVERS IN ONLINE QA INFRASTRUCTURE</h1>


    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Update Server <strong>{{server.host}}</strong></h4>
        </div>
        <div class="modal-body">
        <form action="/servers/save" method="post" name="save">
                {{form.host(size=120,class="form-control", type="hidden",value=server.host)}}
            <div class="form-group">
                <label for="server_type"><a title="Add Server Type" href ="/server_types"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a> Server Type:</label>
                {{form.server_type(size=1,class="form-control",value=server.server_type)}}
            </div>
            <div class="form-group">
                  <label for="db_port">DB Port:</label>
                {{form.db_port(size=5,class="form-control",value=server.db_port)}}
            </div>
            <div class="form-group">
                  <label for="db_user">DB User:</label>
                {{form.db_user(size=120,class="form-control",value=server.db_user)}}
            </div>
            <div class="form-group">
              <label for="db_password">DB Password:</label>
            {{form.db_password(size=120,class="form-control",value=server.db_password)}}
            </div>
            <div class="form-group">
              <label for="ssh_user">SSH User:</label>
            {{form.ssh_user(size=120,class="form-control",value=server.ssh_user)}}
            </div>
            <div class="form-group">
              <label for="ssh_password">SSH Password:</label>
            {{form.ssh_password(size=120,class="form-control",value=server.ssh_password)}}
            </div>
            <div class="form-group">
              <label for="ssh_port">SSH Port:</label>
            {{form.ssh_port(size=5,class="form-control",value=server.ssh_port)}}
            </div>
            <p><input type="submit" class="btn btn-success" value="Save"></p>
        </form>
            <p><input type="submit" class="btn btn-warning" onclick="location.href='/servers';" value="Cancel"></p>
        </div>
    </div>
{% endblock %}