<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<h1>SERVERS IN ONLINE QA INFRASTRUCTURE</h1>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Create New Server</h4>
        </div>
        <div class="modal-body">
        <form action="/servers/create" method="post" name="create">
            <div class="form-group">
                  <label for="host">Host:</label>
                {{form.host(size=120,class_="form-control")}}
            </div>
            <div class="form-group">
                  <label for="server_type"><a title="Add Server Type" href ="/server_types"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a> Server Type:</label>
                {{form.server_type(size=1,class_="form-control")}}
            </div>
            <div class="form-group">
                  <label for="db_port">DB Port:</label>
                {{form.db_port(size=5,class_="form-control")}}
            </div>
            <div class="form-group">
                  <label for="db_user">DB User:</label>
                {{form.db_user(size=120,class_="form-control")}}
            </div>
            <div class="form-group">
              <label for="db_password">DB Password:</label>
            {{form.db_password(size=120,class_="form-control")}}
            </div>
            <div class="form-group">
              <label for="ssh_user">SSH User:</label>
            {{form.ssh_user(size=120,class_="form-control")}}
            </div>
            <div class="form-group">
              <label for="ssh_password">SSH Password:</label>
            {{form.ssh_password(size=120,class_="form-control")}}
            </div>
            <div class="form-group">
              <label for="ssh_port">SSH Port:</label>
            {{form.ssh_port(size=5,class_="form-control")}}
            </div>
            <p><input type="submit" class="btn btn-success" value="Create"></p>
        </form>
        </div>
    </div>
<h2>Already exists servers in system</h2>
<table class="table table-bordered">
  <tr>
    <th>Host</th>
    <th>Type</th>
    <th>DB Port</th>
    <th>DB User</th>
    <th>DB Password</th>
    <th>SSH Port</th>
    <th>SSH User</th>
    <th>SSH Password</th>
    <th>Options</th>
  </tr>
{% for server in servers %}
  <tr>
      <td><a href ="/servers/update?host={{server.host}}">{{server.host}}</a></td>
    <td>{{server.server_type}}</td>
    <td>{{server.db_port}}</td>
    <td>{{server.db_user}}</td>
    <td>{{server.db_password}}</td>
    <td>{{server.ssh_port}}</td>
    <td>{{server.ssh_user}}</td>
    <td>{{server.ssh_password}}</td>
      <td><a title="Delete Server" href ="/servers/delete?host={{server.host}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
  </tr><tr>

{% endfor %}
</table>
{% endblock %}