<!DOCTYPE html>
{% extends "site.html" %}
{% block siteinfo %}
<h2>APPLICATION LIST ON MARATHON HOST <strong>{{host}}</strong></h2>
{% if success == True %}
<div class="panel panel-primary">
  <div class="panel-heading">Application Groups</div>
  <div class="panel-body">

  {% for grp in grps %}
    <h3><strong>{{grp.grp_id}}</strong></h3>
    <hr>
      <table class="table table-bordered">
    <tr>
      <th>Application</th>
      <th>CPU Count</th>
      <th>Docker Image</th>
      <th>Last Deploy</th>
      <th>Envs</th>
    </tr>
    {% for gr in grp.apps %}
    <tr>
      <td> <a href ="{{gr.url}}"> <h4>{{gr.id}}</h4></a>
      <div class="progress">
        <div class="progress-bar progress-bar-{{gr.status}}" style="width: 100%"></div>
      </div>
      </td>
      <td>{{gr.cpu}}</td>
      <td>{{gr.image}}</td>
      <td>{{gr.lastDeploy}}</td>
      <td>
        {% for e,v in gr.env %}
        <strong>{{e}}: </strong>{{v}} <br>
        {% endfor %}
      </td>
    </tr><tr>
    {% endfor %}
      </table>
  {% endfor %}

  </div>
</div>
{% endif %}
{% if success == False %}
    <div class="panel panel-danger">
        <div class="panel-heading">
         <h2>Marathon App on this Server not avalible now</h2>
        </div>
      <div class="panel-body">
        Please, check this query later and say your admin about this error.
      </div>
    </div>

{% endif %}
{% endblock %}