<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<script src="/static/js/apps.js"></script>

<form action="/site/search" method="post">
    <button type='submit'  class="btn btn-link" name='back'><h4><<< Back To Apps</h4></button>
    <input type="hidden" name="host" value="{{host}}">
</form>

<h2>APPLICATION <a href="http://{{host}}:8080/ui/#/apps/{% autoescape false %}{{ app_name | replace('/', '%2F') }}{% endautoescape %}">{{app_name}}</a> ON <strong>{{host}}</strong></h2>

<h3>Running {{running.a_tasks}} of {{running.a_inst}} instances</h3>

{% if running.a_tasks == 0 and  running.a_inst == 0 %}
      {% set app_state_bar = "danger" %}
{% endif %}

{% if (running.a_tasks == 1 and  running.a_inst == 0) or (running.a_tasks == 0 and  running.a_inst == 1) %}
        {% set app_state_bar = "warning" %}
{% endif %}

{% if running.a_tasks == 1 and  running.a_inst == 1 %}
    {% set app_state_bar = "success" %}
{% endif %}
  <div class="progress" style="width: 15%">
    <div class="progress-bar progress-bar-{{app_state_bar}}" style="width: 100%"></div>
  </div>
<div class="btn-group">
    <button type="button" class="btn btn-success" onclick="location.href='/application/start?app_id={{app_name}}&host={{host}}';">Start App</button>
    <button type="button" class="btn btn-warning" onclick="location.href='/application/suspend?app_id={{app_name}}&host={{host}}';">Stop App</button>
</div>
<hr>
{% if failed_task.state == True %}
<div class="panel panel-warning">
    <div class="panel-heading">
     <h4>Last Failed Task With Message</h4>
    </div>
  <div class="panel-body">
      <strong>Date of Failed TASK:</strong> {{failed_task.ts}} <br>
      <strong> Message:</strong>{{failed_task.msg}}
  </div>
</div>
{% endif %}
<hr>
<div class="panel panel-primary">
    <div class="panel-heading" data-toggle="collapse" data-target="#envs" ><span id="env_ico" class="pull-right glyphicon glyphicon-plus"></span> Marathon Information</div>
  <div class="panel-body collapse" id="envs">
      <form action="/application/save" method="post" name="save">
          <div class="form-group" hidden="True">
              <label for="env_area">Host:</label>
              <input class="form-control"  name="host" value="{{host}}">
          </div>
          <div class="form-group" hidden="True">
              <label for="env_area">AppId:</label>
              <input class="form-control"  name="AppId" value="{{app_name}}">
          </div>
          <div class="form-group" >
              <label for="cpu">CPU:</label>
              <input class="form-control"  name="cpu" value="{{cpu}}">
          </div>
          <div class="form-group" >
              <label for="image">Container:</label>
              <textarea class="form-control"  name="image" id="image" rows = "10" style="font-size: 14pt; font-family: courier new; padding: 8px; border: 1px solid #000; background-color: #000;color: #00ff00;">{{image}}</textarea>
          </div>
          <div class="form-group">
              <label for="env_area">Envs Values:</label>
                <textarea class = "form-control" name="env_area"  id = "env_area" rows = "10" style="font-size: 14pt; font-family: courier new; padding: 8px; border: 1px solid #000; background-color: #000;color: #00ff00;">{{envs}}</textarea>
          </div>
      <p><input type="submit" class="btn btn-success" value="Save And Deploy"></p>
      </form>
  </div>
</div>
{% for task in tasks %}
<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#logs"><strong>TASK:</strong> {{task.task_id}} <strong>STATUS:</strong> {{task.status}} </div>
    <div class="panel-body collapse" id="logs">
        <div class="panel panel-success">
            <div class="panel-heading" >STD OUT</div>
          <div class="panel-body">
            <textarea class = "form-control" name="std_area" id="{{task.std_out}}" rows = "30" style="font-size: 14pt; font-family: courier new; padding: 8px; border: 1px solid #000; background-color: #000;color: #00ff00;"></textarea>
          </div>
        </div>

        <div class="panel panel-danger">
            <div class="panel-heading" >STD ERROR</div>
          <div class="panel-body">
          <textarea class = "form-control" name="err_area" id="{{task.std_err}}" rows = "30" style="font-size: 14pt; font-family: courier new; padding: 8px; border: 1px solid #000; background-color: #000;color: #00ff00;"></textarea>
          </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}