<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<h1>QA INFRASTRUCTURE USERS </h1>


    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Update User <strong>{{user.login}}</strong></h4>
        </div>
        <div class="modal-body">
        <form action="/users/save" method="post" name="save">
                {{form.login(size=120,class="form-control", type="hidden",value=user.login)}}
            <div class="form-group">
                  <label for="password">Password:</label>
                {{form.password(size=120,class="form-control",type="password")}}
            </div>
            <div class="form-group">
                  <label for="name">User Full Name:</label>
                {{form.name(size=120,class="form-control",value=user.name)}}
            </div>
            <p><input type="submit" class="btn btn-success" value="Save"></p>
        </form>
            <p><input type="submit" class="btn btn-warning" onclick="location.href='/users';" value="Cancel"></p>
        </div>
    </div>
{% endblock %}