<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<h1>QA INFRASTRUCTURE USERS </h1>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Create New User</h4>
        </div>
        <div class="modal-body">
        <form action="/users/create" method="post" name="create">
            <div class="form-group">
                  <label for="login">Login:</label>
                {{form.login(size=120,class_="form-control")}}
            </div>
            <div class="form-group">
                  <label for="password">Password:</label>
                {{form.password(size=120,class_="form-control",type="password")}}
            </div>
            <div class="form-group">
                  <label for="name">User Full Name:</label>
                {{form.name(size=120,class_="form-control")}}
            </div>

            <p><input type="submit" class="btn btn-success" value="Create"></p>
        </form>
        </div>
    </div>
<h2>Already exists users in system</h2>
<table class="table table-bordered">
  <tr>
    <th>Login</th>
    <th>Full Name</th>
      <th>Admin</th>
      <th>Active</th>
      <th>Delete</th>
  </tr>
{% for user in users %}
  <tr>
      <td><a href ="/users/update?login={{user.login}}">{{user.login}}</a></td>
    <td>{{user.name}}</td>
      <td>
          <div class="material-switch ">
            <input id="{{user.login}}_admus"  type="checkbox"  {% if user.is_admin == True%} checked {% endif %} />
            <label for="{{user.login}}_admus" class="label-success"></label>
        </div>
      </td>
      <td>
          <div class="material-switch">
            <input id="{{user.login}}_blockus"  type="checkbox" {% if user.is_active == True%} checked {% endif %}  />
            <label for="{{user.login}}_blockus" class="label-success"></label>
        </div>
      </td>
      <td><a title="Delete User" href ="/users/delete?login={{user.login}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
  </tr><tr>

{% endfor %}
</table>
{% endblock %}